:root {
  font-size: 16px;
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000000; 
  font-size: 1.125rem;
  line-height: 1.25;
  background-color: #EFEFEF;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0 0 1.875rem 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2222;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0 0 1.875rem 0;
}

h3 {
  font-size: 1rem;
  line-height: 1.25;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0 0 1.25rem 0;
}

h1, h2, h3 {
  color: #2d2f7f;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 0 1.25rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*Desktop Styles*/
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 1.1875;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2083;
  }
}
 
